* {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
}

/* quill */
.quill .ql-toolbar.ql-snow {
    border-radius: 10px;
    border: 2px solid #07456f6e;
}

.quill .ql-container.ql-snow{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.quill .ql-editor{
    min-height: 200px;
    border: 2px solid #07456f6e;
    border-radius: 10px;

}

/* container */
.screen-full {
    width: 100%;
    height: 100vh;
}

.layout::before {
    content: 'CMS';
    font-weight: bold;
    font-size: 25rem;
    position: fixed;
    bottom: -100px;
    left: 0;
    color: #CDFFEB60;
    animation: upDown 10s linear infinite;
    animation-direction: alternate-reverse;
    letter-spacing: 10px;
}

@keyframes upDown {
    from {
        bottom: -100px;
        left: 0;
    }

    to {
        bottom: -200px;
        left: 0;
    }
}

/* justify content */
.justify-center {
    justify-content: center;
}

/* color */

.color-red {
    color: rgb(248, 123, 123)
}

.color-1 {
    color: #0F0A3C
}

.color-2 {
    color: #07456F
}

.color-3 {
    color: #009F9D
}

.color-4 {
    color: #CDFFEB
}

/* font */

.font-1 {
    font-size: 14px;
}

.font-2 {
    font-size: 16px;
}

.font-3 {
    font-size: 20px;
}

.font-4 {
    font-size: 24px;
}

.font-5 {
    font-size: 30px;
}

.font-6 {
    font-size: 38px;
}

.font-bold {
    font-weight: bold;
}


/* input */
.ant-input-affix-wrapper {
    border-radius: 5px !important;
}

.ant-select-selector {
    border-radius: 5px !important;
}

.ant-space-vertical {
    width: 100%;
}

.ant-result-subtitle {
    color: gray !important;
    max-width: 500px;
}

.ant-table-cell {
    font-size: 16px;
}

.ant-card-head-title {
    font-size: 20px;
    font-weight: 600;
}
.ant-image {
    overflow: hidden;
    border-radius: 8px;
}

.ant-modal-content {
    border-radius: 5px;
    overflow: hidden;
}

.reaction {
    font-size: 24px;
    cursor: pointer;
}