* {
    font-family: 'Syne', sans-serif;
}

body {
    overflow-x: hidden;
}

/* quill */
.quill .ql-toolbar.ql-snow {
    border-radius: 10px;
    border: 2px solid #07456f6e;
}

.quill .ql-container.ql-snow{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.quill .ql-editor{
    min-height: 200px;
    border: 2px solid #07456f6e;
    border-radius: 10px;

}

/* container */
.screen-full {
    width: 100%;
    height: 100vh;
}

.layout::before {
    content: 'CMS';
    font-weight: bold;
    font-size: 25rem;
    position: fixed;
    bottom: -100px;
    left: 0;
    color: #CDFFEB60;
    animation: upDown 10s linear infinite;
    animation-direction: alternate-reverse;
    letter-spacing: 10px;
}

@keyframes upDown {
    from {
        bottom: -100px;
        left: 0;
    }

    to {
        bottom: -200px;
        left: 0;
    }
}

/* justify content */
.justify-center {
    justify-content: center;
}

/* color */

.color-red {
    color: rgb(248, 123, 123)
}

.color-2 {
    color: #001529!important
}

.color-1 {
    color: #07456F!important
}

.color-3 {
    color: #009F9D!important
}

.color-4 {
    color: #CDFFEB!important
}

.color-5 {
    color: white!important
}

/*description color*/
.des-1 {
    color: gray!important
}

.des-2 {
    color: #ffffffb0!important
}

/*background color*/

.bg-1 {
    background-color: #001529
}

.bg-2 {
    background-color: white
}

/* boxshadow */

.shadow-d {
    box-shadow: 25px 23px 42px -3px rgba(0,0,0,0.1)
}

.shadow-l {
    box-shadow: 25px 23px 42px -3px rgba(255, 255, 255, 0.192)
}

/* font */

.font-1 {
    font-size: 14px;
}

.font-2 {
    font-size: 16px;
}

.font-3 {
    font-size: 20px;
}

.font-4 {
    font-size: 24px;
}

.font-5 {
    font-size: 30px;
}

.font-6 {
    font-size: 38px;
}

.font-bold {
    font-weight: bold;
}


/* input */
.ant-input-affix-wrapper {
    border-radius: 5px !important;
}

.ant-select-selector {
    border-radius: 5px !important;
}

.ant-space-vertical {
    width: 100%;
}

.ant-result-subtitle {
    color: gray !important;
    max-width: 500px;
}

.ant-table-cell {
    font-size: 16px;
}

.ant-card-head-title {
    font-size: 20px;
    font-weight: 600;
}
.ant-image {
    overflow: hidden;
    border-radius: 8px;
}

.ant-modal-content {
    border-radius: 5px;
    overflow: hidden;
}

.ant-collapse-header {
    padding: 5px 0px !important;
    color: gray !important;
}

.ant-collapse-content-box {
    padding-top: 10px!important;
}
.reaction {
    font-size: 24px;
    cursor: pointer;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #009F9D;
}

.ant-btn.ant-btn-primary.ant-btn-sm{
    background-color: #009F9D;
}

.card-b {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    background: transparent
}

.country-list {
    height: 100px;
}

/* cusstom croll */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #009F9D80;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #009F9D;
  }

  .tag_URL{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 .bg-awesome {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23009f9d' fill-opacity='0.13'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 }

/* header */
.cms {
    display: block;
    color:#001529
}
.cms::first-letter {
    font-weight: bold;
    font-size: 25px;
    display: block;
    color: #009F9D;
    border-radius: 5px;
}